<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/res/favicon.png">
  <title>{{ page.title }} | {{ site.name }}</title>

  {% include style.html %}
  {% include analytics.html %}
</head>

<body>
  <header>
    <a href="{{ site.url }}">Tel-U Logo</a>
  </header>

  <h1>{{ page.title }}</h1>
  <section class="container">
    {{ content }}
  </section>

  <footer>
    <h3>Disclaimer</h3>
    <p>Pedoman identitas pada website ini mengacu pada <em>Buku Pedoman Identitas dan Panduan Aplikasi Universitas Telkom</em>.</p>
  </footer>
</body>

</html>