---
layout: default
---
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/lengkap-utama.png" alt="">
  <a href="{{ site.url }}/lib/{{ page.idx }}/lengkap-utama.png">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/lengkap-memusat.png" alt="">
  <a href="{{ site.url }}/lib/{{ page.idx }}/lengkap-memusat.png">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/standar-utama.png" alt="">
  <a href="{{ site.url }}/lib/{{ page.idx }}/standar-utama.png">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/standar-memusat.png" alt="">
  <a href="{{ site.url }}/lib/{{ page.idx }}/standar-memusat.png">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/singkat-2-baris.png" alt="">
  <a href="{{ site.url }}/lib/{{ page.idx }}/singkat-2-baris.png">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/singkat-1-baris.png" alt="">
  <a href="{{ site.url }}/lib/{{ page.idx }}/singkat-1-baris.png">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
