---
layout: default
---
<div class="wrapper">
  <a href="{{ site.url }}/lib/{{ page.idx }}/lengkap-memusat.png">
    <img src="{{ site.url }}/res/{{ page.idx }}/lengkap-memusat.png" alt="">
  </a>
</div>
<div class="wrapper">
  <a href="{{ site.url }}/lib/{{ page.idx }}/lengkap.png">
    <img src="{{ site.url }}/res/{{ page.idx }}/lengkap.png" alt="">
  </a>
</div>
<div class="wrapper">
  <a href="{{ site.url }}/lib/{{ page.idx }}/standar.png">
    <img src="{{ site.url }}/res/{{ page.idx }}/standar.png" alt="">
  </a>
</div>
<div class="wrapper">
  <a href="{{ site.url }}/lib/{{ page.idx }}/standar-memusat.png">
    <img src="{{ site.url }}/res/{{ page.idx }}/standar-memusat.png" alt="">
  </a>
</div>
<div class="wrapper">
  <a href="{{ site.url }}/lib/{{ page.idx }}/singkat-2-baris.png">
    <img src="{{ site.url }}/res/{{ page.idx }}/singkat-2-baris.png" alt="">
  </a>
</div>
<div class="wrapper">
  <a href="{{ site.url }}/lib/{{ page.idx }}/singkat-1-baris.png">
    <img src="{{ site.url }}/res/{{ page.idx }}/singkat-1-baris.png" alt="">
  </a>
</div>
