---
layout: default
---
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/lengkap-utama.png" alt="Logo {{ page.idx }} konfigurasi lengkap utama">
  <a href="{{ site.url }}/lib/{{ page.idx }}/lengkap-utama.png" class="button">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/lengkap-vertikal.png" alt="Logo {{ page.idx }} konfigurasi lengkap vertikal">
  <a href="{{ site.url }}/lib/{{ page.idx }}/lengkap-vertikal.png" class="button">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/standar-utama.png" alt="Logo {{ page.idx }} konfigurasi standar utama">
  <a href="{{ site.url }}/lib/{{ page.idx }}/standar-utama.png" class="button">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/standar-vertikal.png" alt="Logo {{ page.idx }} konfigurasi standar vertikal">
  <a href="{{ site.url }}/lib/{{ page.idx }}/standar-vertikal.png" class="button">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/singkat-2-baris.png" alt="Logo {{ page.idx }} konfigurasi singkat dua baris">
  <a href="{{ site.url }}/lib/{{ page.idx }}/singkat-2-baris.png" class="button">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
<div class="wrapper">
  <img src="{{ site.url }}/res/{{ page.idx }}/singkat-1-baris.png" alt="Logo {{ page.idx }} konfigurasi singkat satu baris">
  <a href="{{ site.url }}/lib/{{ page.idx }}/singkat-1-baris.png" class="button">
    <i class="fas fa-download"></i> Unduh logo ini
  </a>
</div>
